@media (max-width: 991px) {
  .mix-container {
    flex-wrap: wrap;
    gap: 20px !important;
  }
}

@media (max-width: 750px) {
  .inner {
    width: 90vw !important;
  }
  .gnb-tab a {
    flex-grow: 1;
  }
  .gnb-tab button {
    width: 100%;
  }
}
